body{
  text-align: center;
  background-color: #a5acd2;
  margin: 0 auto;
}

h1{
  display: inline-block;
  border-style: dashed;
  padding: 5px;
  font-family: verdana, cursive;
  font-style: italic;
}
