body{
  text-align: center;
  background-color: #a5acd2;
  margin: 0 auto;
}

/* styling header */
h1{
  display: inline-block;
  border-style: dashed;
  padding: 5px;
  font-family: verdana, cursive;
  font-style: italic;
}


/* styling submit button */
#submit {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* styling the input fields */
input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 25%;
}
input[type=text]:focus {
  background-color: lightgrey;
}


/* styling labels */
label{
  text-decoration: underline;
  font-size: 125%;
}
